@import url("https://fonts.googleapis.com/css2?family=Diphylleia&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  color: #481f31;
  background-color: #e4e5e0;
  font-family: "Diphylleia", serif;
}
